@using Galeriden_com.Models

@model List<SatinAlma>

<h1>Satın Alma İşlemleri</h1>

<hr />



<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">Satın Almayı Düzenle</h4>
                <a href="../SatinAlma/Create" class="btn btn-primary btn-round ms-auto">
                    <i class="fa fa-plus"></i>
                    Yeni Satın Alma
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="add-row"
                       class="display table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Tedarikçi Ad-Soyad</th>
                            <th>Tedarikçi Adres</th>
                            <th>Araç Markası</th>
                            <th>Araç Modeli</th>
                            <th>Alım Fiyatı</th>
                            <th>Alım Tarihi</th>
                            <th style="width: 10%">İşlem</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Tedarikçi Ad-Soyad</th>
                            <th>Tedarikçi Adres</th>
                            <th>Araç Markası</th>
                            <th>Araç Modeli</th>
                            <th>Alım Fiyatı</th>
                            <th>Alım Tarihi</th>
                            <th>İşlem</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.musteri.Adi @item.musteri.Soyadi</td>
                                <td>@item.musteri.Adres </td>
                                <td>@item.arac.Marka </td>
                                <td>@item.arac.Model </td>
                                <td>@item.AlimFiyati </td>
                                <td>@item.AlimFiyatiDate </td>
                                <td>
                                    <div class="form-button-action">
                                        <a href="../SatinAlma/Create?ID=@item.Id" class="btn btn-link btn-primary btn-lg">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="../SatinAlma/Delete?ID=@item.Id" class="btn btn-link btn-danger">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="~/assets/js/core/jquery-3.7.1.min.js"></script>
<script src="~/assets/js/core/popper.min.js"></script>
<script src="~/assets/js/core/bootstrap.min.js"></script>

<!-- jQuery Scrollbar -->
<script src="~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<!-- Datatables -->
<script src="~/assets/js/plugin/datatables/datatables.min.js"></script>
<!-- Kaiadmin JS -->
<script src="~/assets/js/kaiadmin.min.js"></script>
<!-- Kaiadmin DEMO methods, don't include it in your project! -->
<script src="~/assets/js/setting-demo2.js"></script>

<script>
    $(document).ready(function () {
        $("#basic-datatables").DataTable({});

        $("#multi-filter-select").DataTable({
            pageLength: 5,
            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        var column = this;
                        var select = $(
                            '<select class="form-select"><option value=""></option></select>'
                        )
                            .appendTo($(column.footer()).empty())
                            .on("change", function () {
                                var val = $.fn.dataTable.util.escapeRegex($(this).val());

                                column
                                    .search(val ? "^" + val + "$" : "", true, false)
                                    .draw();
                            });

                        column
                            .data()
                            .unique()
                            .sort()
                            .each(function (d, j) {
                                select.append(
                                    '<option value="' + d + '">' + d + "</option>"
                                );
                            });
                    });
            },
        });

        // Add Row
        $("#add-row").DataTable({
            pageLength: 5,
        });

        var action =
            '<td> <div class="form-button-action"> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $("#addRowButton").click(function () {
            $("#add-row")
                .dataTable()
                .fnAddData([
                    $("#addName").val(),
                    $("#addPosition").val(),
                    $("#addOffice").val(),
                    action,
                ]);
            $("#addRowModal").modal("hide");
        });
    });
</script>