@using Galeriden_com.Models

@model Arac

<style>
    .TextColor {
        color:red; 
    }
</style>

@using (@Html.BeginForm("Create", "Arac", FormMethod.Post))
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">Araç Bilgileri</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            @Html.LabelFor(Model => Model.Id, new { @class = "form-label" })
                            @Html.TextBoxFor(Model => Model.Id, new { @class = "form-control TextColor", disabled = "true" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(Model => Model.Model, new { @class = "form-label" })
                            @Html.TextBoxFor(Model => Model.Model, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(Model => Model.Marka, new { @class = "form-label" })
                            @Html.TextBoxFor(Model => Model.Marka, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(Model => Model.Plaka, new { @class = "form-label" })
                            @Html.TextBoxFor(Model => Model.Plaka, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(Model => Model.Fiyat, new { @class = "form-label" })
                            @Html.TextBoxFor(Model => Model.Fiyat, new { @class = "form-control" })
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}