@using Galeriden_com.Models

@model List<Satis>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<div class="container">
    <div class="page-inner">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
            <div>
                <h3 class="fw-bold mb-3">Dashboard</h3>
                <h6 class="op-7 mb-2">Galeriden.com İstatistikleri</h6>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-primary bubble-shadow-small">
                                    <i class="fas fa-users"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Firmalar <strong>T:</strong> @ViewBag.TedarikciSayisi/<strong>M:</strong> @ViewBag.MusteriSayisi </p>
                                    <h4 class="card-title"> @ViewBag.FirmaSayisi (Adet) </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-info bubble-shadow-small">
                                    <i class="fas fa-user-check"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Araçlar</p>
                                    <h4 class="card-title"> @ViewBag.AracSayisi (Adet) </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-success bubble-shadow-small">
                                    <i class="fas fa-luggage-cart"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Toplam Satın Alma</p>
                                    <h4 class="card-title"> @Convert.ToDouble(@ViewBag.ToplamSatinAlmaFiyati).ToString("N2")  TL </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-secondary bubble-shadow-small">
                                    <i class="far fa-check-circle"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Toplam Satış (TL)</p>
                                    <h4 class="card-title"> @Convert.ToDouble(@ViewBag.ToplamSatisFiyati).ToString("N2") (TL)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <canvas id="AylikSatisGrafik" style="width:100%;"></canvas>

            </div>
            <div class="col-lg-6">
                <canvas id="AylikSatinAlmaGrafik" style="width:100%;"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="add-row"
                           class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Müşteri Ad-Soyad</th>
                                <th>Müşteri Adres</th>
                                <th>Araç Markası</th>
                                <th>Araç Modeli</th>
                                <th>Satış Fiyatı</th>
                                <th>Satış Tarihi</th>
                                <th style="width: 10%">İşlem</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Müşteri Ad-Soyad</th>
                                <th>Müşteri Adres</th>
                                <th>Araç Markası</th>
                                <th>Araç Modeli</th>
                                <th>Satış Fiyatı</th>
                                <th>Satış Tarihi</th>
                                <th>İşlem</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.musteri.Adi @item.musteri.Soyadi</td>
                                    <td>@item.musteri.Adres </td>
                                    <td>@item.arac.Marka </td>
                                    <td>@item.arac.Model </td>
                                    <td>@item.SatisFiyati </td>
                                    <td>@item.SatisFiyatiDate </td>
                                    <td>
                                        <div class="form-button-action">
                                            <a href="../Satis/Create?ID=@item.Id" class="btn btn-link btn-primary btn-lg">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="../Satis/Delete?ID=@item.Id" class="btn btn-link btn-danger">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>

@{

    var Aylar = ViewBag.XValue as List<string>;
    var AyValue = ViewBag.yValue as List<double>;

    var MonthLabel = ViewBag.MonthLabel as List<string>;
    var MonthValue = ViewBag.MonthValue as List<double>;

}

<script>
    var xValues = @Html.Raw(Json.Serialize(Aylar)) ; /* ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs"];*/
    var yValues = @Html.Raw(Json.Serialize(AyValue)) ;
    var barColors = ["red", "green", "blue", "orange", "brown"];

    new Chart("AylikSatisGrafik", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "Aylık Satış Raporu (TL)"
            }
        }
    });
</script>
<script>
    var xValues = @Html.Raw(Json.Serialize(MonthLabel)) ; /* ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs"];*/
    var yValues = @Html.Raw(Json.Serialize(MonthValue)) ;
    var barColors = ["red", "green", "blue", "orange", "brown"];

    new Chart("AylikSatinAlmaGrafik", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "Aylık SatınAlma Raporu (TL)"
            }
        }
    });
</script>
